@charset "utf-8";

main{}
main .slide{
  margin-bottom: 10px;
  position: relative;
}
main .slide>h2{
  display: none;
}
main .slide img{
  width: 100%;
}

section>h2,.right_con>h2{
  display: none;
}

.left_con h2, .cen_con h2{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #525d9f;
  border-bottom: 2px solid #3834ad;
  padding: 10px 0px;
}
.left_con>ul{
  margin-bottom: 70px;
}
.left_con>ul>li{
  line-height: 30px;
}
.left_con>ul>li>a:hover{
  text-decoration: underline #ff0000;
}
.cen_con .lnb{
}
.cen_con .lnb>ul{
  width: 380px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 45px;
  padding-bottom: 45px;
}
